<!-- Footer -->
<section class="footer">
        <footer class="page-footer font-small unique-color-dark">

            <div style="background-color: #A4C5E4;">
                <div class="container">
                    <div class="row py-4 d-flex align-items-center">
                        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                            <h6 class="mb-0">Get connected with us on social networks!</h6>
                        </div>
                        
                        <div class="col-md-6 col-lg-7 text-center text-md-right">
                            <a class="fb-ic"><i class="fab fa-facebook-f white-text mr-4"> </i></a>
                            <a class="tw-ic"><i class="fab fa-twitter white-text mr-4"> </i></a>
                            <a class="fb-ic"><i class="fab fa-linkedin-in white-text mr-4"></i></a>

                        </div>
                    </div>
                </div>
            </div>

            
            <div class="container text-center text-md-left mt-5">
                <div class="row mt-3">
                    <div class="col-md-5 col-lg-6 col-xl-5 mx-auto mb-4">
                        <h6 class="text-uppercase font-weight-bold">ALTRIX</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos voluptate omnis aperiam id temporibus? Suscipit deleniti culpa itaque blanditiis doloremque!</p>
                    </div>
                
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p><a href="/">Home</a></p>
                        <p><a href="/details">Speech-To-Text</a></p>
                        <p><a href="/register">Verification Form</a></p>
                    </div>
                
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase font-weight-bold">Contact</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                        <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                    </div>
                </div>
            </div>

            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="/">ALTRIX - SIH 2019</a>
            </div>

        </footer>
    </section>